:root{
    --accent: rgb(0, 0, 180);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(40, 40, 40);
    --background2:rgb(168, 190, 255);
    background-color: var(--primary);
    color:var(--secondary);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{

    margin: 0;
    padding:0;
}

@keyframes appear{
    from{
        opacity: 0;
        scale:0.5;
       
    }
    to{
        opacity: 1;
        scale: 1;
        
    }

}

.page-header{
    width: 100%;
}
nav{
    width: 100%;
    
}
h3{
    font-size: 2em;
}
.page-header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-family: inherit;
    align-items: center;
    margin:0;
    
    overflow: wrap;
    position: absolute;
    top: 0;
    background-color: var(--accent);

}
.page-header nav ul li{
    height: 50px;
    align-content: center;
    transition:all 0.2s ease-in-out;
    
}
.page-header nav ul li:hover{
    background-color:rgba(29, 29, 255, 0.375);
    transform: scale(1.2)  translateX(-10px) translateY(5px);

}
.page-header nav ul li:first-child{
    margin-right: auto;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page-header nav ul li:first-child:hover{
    transform: translateX(10px) translateY(5px);
}
.page-header nav ul li a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    height: 50px;
    text-align: center;
    margin: 0 15px;
}

section{
    min-height: 83dvh;
    margin-top: 0;
    overflow: hidden;
    padding: 60px;
    
    place-items: center;
}

.welcome-section{
    background-color: var(--accent);
    color:var(--primary);
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 10vw;;
    
}
.img-pfp{
    width:fit-content;
    height:50vh;
    border-radius: 50px;
    box-shadow: 20px 40px 0 blue;
    
}

.education-list li{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    font-size: 1.5em;
    height: 100vh;
   /*  animation is not working, fix later
   animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0; */
    
}

.education-list li img{
   
   width: 200px;
   height: 200px;
   object-fit: cover;
   margin-left: 20px;
   border: 3px solid black;
    border-radius: 20px;
   

  
}

.exp-section{
    background-color: var(--background2);
}


.exp-section ol li{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    justify-content: space-between;
    align-content: center;
    place-items: center;
    position: relative;
    font-size: 1.5em;
    height: 80vh;
    
}
.exp-section ol li img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid black;
    border-radius: 20px;
}
.exp-section ol li::after{
    content: '';
    background-color: var(--accent);
    height: 0.5px;
    width: 80vw;
    position: absolute;
    bottom : -40px;
}

.projects-section{
    font-size: 1.5em;

}
.projects-section ol li{
    height: 100vh;
    place-content: center;
}

footer{
    display: flex;
    background-color: var(--secondary);
    color: var(--primary);
    height: 5vh;
    align-items: center;
}
